@import "tailwindcss";
@plugin "daisyui";

/* Fix air-datepicker time slider styling conflicts with DaisyUI */
.air-datepicker {
  --adp-time-track-color: #dedede;
  --adp-time-track-color-hover: #b1b1b1;
}

.air-datepicker-time--row input[type="range"] {
  border: none !important;
  outline: none !important;
}

.air-datepicker-time--row input[type="range"]::-webkit-slider-thumb {
  border: 1px solid var(--adp-time-track-color) !important;
}

.air-datepicker-time--row input[type="range"]::-moz-range-thumb {
  border: 1px solid var(--adp-time-track-color) !important;
}

.air-datepicker-time--row input[type="range"]::-ms-thumb {
  border: 1px solid var(--adp-time-track-color) !important;
}